<div class="page">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="./new-<?php echo htmlentities($data['videoList']['current_page'])-1; ?>">pre</a></li>
            {for start="1" end="10"}
            <li class="page-item"><a class="page-link" href="./new-{$i}">{$i}</a></li>
            {/for}
            <li class="page-item"><a class="page-link" href="./new-<?php echo htmlentities($data['videoList']['current_page'])+1; ?>">next</a></li>
            <li class="page-item"><a class="page-link" href="./new-<?php echo htmlentities($data['videoList']['last_page']); ?>">last</a></li>
        </ul>
    </nav>
</div>